{% extends "layout.html" %}

{%- block content %}
<div class="h-full">
    <div class="mt-4">
        <div class="text-center">
            <h1 class="text-3xl">Your bank accounts</h1>
        </div>
        <div class="px-4 pt-6 pb-8 mb-4 flex justify-between">
            <a href="{{ url_for('dashboard') }}" class="top-0 left-0 mt-4 ml-4 text-blue-500 hover:text-blue-700">
                &larr; Back to dashboard
            </a>
            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" onclick="openModal()">Add Bank</button>
        </div>
    </div>
    <div class="space-y-2">
        <ul>
            {% for account in accounts %}
                <li class="bg-white shadow rounded-lg overflow-hidden">
                    <a href="{{ url_for('read_account', account_id=account.id) }}" class="block hover:bg-gray-50">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex items-center justify-between">
                                <div>
                                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ account.bank }}</h3>
                                    <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ account.name }}</p>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <p class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                        Active
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    

    <div class="space-y-4">
        
        <div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" onclick="closeModal()"></div>
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
                    <div class="mt-3 text-center sm:mt-5">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Add Bank</h3>
                        <div class="mt-2">
                            <form class="space-y-4">
                                <div>
                                    <label for="bank" class="block text-sm font-medium text-gray-700">Bank Name:</label>
                                    <select id="bank" name="bank" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <option value="">Select bank</option>
                                        <option value="Scotia">Scotia Bank</option>
                                        <option value="CIBC">CIBC</option>
                                        <option value="TD">TD</option>
                                        <option value="RBC">Royal Bank of Canada</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="name" class="block text-sm font-medium text-gray-700">Account Name:</label>
                                    <select id="name" name="name" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <option value="">Select account type</option>
                                        <option value="Chequing">Chequing</option>
                                        <option value="Savings">Savings</option>
                                        <option value="Credit">Credit Card</option>
                                    </select>
                                </div>
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add Bank</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        function openModal() {
            document.getElementById('modal').classList.remove('hidden');
        }

        function closeModal() {
            document.getElementById('modal').classList.add('hidden');
        }

        document.querySelector('#modal form').addEventListener('submit', function(event) {
            event.preventDefault();

            const bank = document.getElementById('bank').value;
            const name = document.getElementById('name').value;

            if (`${bank}` == '' || `${name}` == '') {
                alert('Please fill in all the fields');
                return;
            }

            fetch('{{ url_for("add_accounts") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ bank: bank, name: name })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success == 1) {
                    window.location.reload();
                } else {
                    alert('Error adding account');
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}
