{% extends "layout.html" %}

{%- block content %}
<div>
    <div class="mt-4">
        <div class="text-center">
            <h1 class="text-3xl">Transactions of <span class="font-bold">{{ account.bank }} - {{ account.name }}</span> account</h1>
        </div>
        <div class="px-4 pt-6 pb-8 mb-4 flex justify-between">
            <a href="{{ url_for('read_account', account_id=account.id) }}" class="top-0 left-0 mt-4 ml-4 text-blue-500 hover:text-blue-700">
                &larr; Back to account details
            </a>
            <!-- Button to open the modal -->
            <button id="uploadBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Upload Transactions
            </button>
        </div>
    </div>

    <div class="mt-6">
        <ul class="overflow-y-scroll h-full max-h-full">
            {% for t in transactions %}
            <li class="bg-white shadow rounded-lg overflow-hidden mt-2">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900">{{ t.description }}</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                {% if t.category %}
                                    {{ t.category }} <a href="#" onclick="refresh_category('{{t.account_id}}', '{{t.id}}')" class="text-blue-500 hover:text-blue-700">&#x21bb;</a>
                                {% else %}
                                    <a href="#" onclick="refresh_category('{{t.account_id}}', '{{t.id}}')" class="text-blue-500 hover:text-blue-700">Analyze Category</a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="ml-4 flex-shrink-0">
                            <p class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full {% if t.type == 'debit' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                                {{ t.amount }}
                            </p>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ t.date }}</p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- The Modal -->
<div id="uploadModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-bold">Upload CSV</h2>
                <button id="closeModal" class="text-gray-500 hover:text-gray-700">&times;</button>
            </div>
            <form id="uploadForm">
                <div class="mb-4">
                    <label for="csvFile" class="block text-gray-700 text-sm font-bold mb-2">Select CSV file:</label>
                    <input type="file" id="csvFile" name="csvFile" accept=".csv" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{%- endblock %}

{% block script %}
    {{ super() }}

    <script>
        document.getElementById('uploadBtn').addEventListener('click', function() {
            document.getElementById('uploadModal').classList.remove('hidden');
        });
        
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('uploadModal').classList.add('hidden');
        });
        
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData();
            var fileField = document.getElementById('csvFile');
        
            formData.append('file', fileField.files[0]);
        
            fetch('/transactions/{{ account.id }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById('uploadModal').classList.add('hidden');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        refresh_category = (account_id, transaction_id) => {
            fetch(`/transactions/${account_id}/${transaction_id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    request_type: "refresh_category"
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}